services:
  postgres:
    container_name: evoks_${INSTANCE_NAME:-defaultinstance}_postgres
    image: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-changeme}
      PGDATA: /data/postgres
      POSTGRES_DB: dev
    volumes:
       - postgres:/data/postgres
    networks:
      - postgres
    restart: unless-stopped
    healthcheck:
      test: pg_isready
      interval: 20s
      timeout: 10s
      retries: 5
      start_period: 2m

  web:
    container_name: evoks_${INSTANCE_NAME:-defaultinstance}_web
    build:
      context: "."
    # caution, don't change this port since it is the one used within the container
    # to change port, use the "ports:" section
    command: >
      sh -c "python ./evoks/manage.py migrate && 
             python ./evoks/manage.py runserver 0.0.0.0:8000"
    ports:
      - "${EVOKS_PORT:-8000}:8000"
    depends_on:
      postgres:
          condition: service_healthy
      fuseki-dev:
          condition: service_healthy
      fuseki-live:
          condition: service_healthy
      skosmos-dev:
          condition: service_healthy
      skosmos-live:
          condition: service_healthy
    networks: 
      - postgres
      - fuseki-dev
      - fuseki-live
    volumes:
      - .:/code
      - ./skosmos-dev/config.ttl:/code/skosmos-dev/config.ttl
      - ./skosmos-live/config.ttl:/code/skosmos-live/config.ttl
      - ./fuseki-dev/backup:/code/fuseki-dev/backup
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000 || exit 1"]
      interval: 20s
      timeout: 10s
      retries: 5
      start_period: 2m

  fuseki-dev:
    container_name: evoks_${INSTANCE_NAME:-defaultinstance}_fuseki-dev
    image: secoresearch/fuseki
    hostname: fuseki-dev
    environment: 
      ADMIN_PASSWORD: ${FUSEKI_PASSWORD:-fuseki_password}
      ENABLE_DATA_WRITE: 'True'
      ENABLE_UPDATE: 'True'
      ENABLE_UPLOAD: 'True'
    volumes: 
      - ./fuseki-dev/data:/fuseki-base/databases
      - ./fuseki-dev/config:/fuseki-base/configuration
      - ./fuseki-dev/backup:/fuseki-base/backups
    networks:
      - fuseki-dev
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--spider", "-S", "http://localhost:3030/$/ping"]
      interval: 20s
      timeout: 10s
      retries: 5
      start_period: 2m
      
  fuseki-live:
    container_name: evoks_${INSTANCE_NAME:-defaultinstance}_fuseki-live
    image: secoresearch/fuseki
    hostname: fuseki-live
    environment: 
      ADMIN_PASSWORD: ${FUSEKI_PASSWORD:-fuseki_password}
      ENABLE_DATA_WRITE: 'True'
      ENABLE_UPDATE: 'True'
      ENABLE_UPLOAD: 'True'
    volumes: 
      - ./fuseki-live/data:/fuseki-base/databases
      - ./fuseki-live/config:/fuseki-base/configuration
      - ./fuseki-live/backup:/fuseki-base/backups
    networks:
      - fuseki-live
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--spider", "-S", "http://localhost:3030/$/ping"]
      interval: 20s
      timeout: 10s
      retries: 5
      start_period: 2m

  skosmos-dev:
    container_name: evoks_${INSTANCE_NAME:-defaultinstance}_skosmos-dev
    build:
      context: https://github.com/NatLibFi/Skosmos.git#v2.17
      dockerfile: dockerfiles/Dockerfile.ubuntu
    ports: 
      - "${SKOSMOS_DEV_PORT:-8001}:80"
    hostname: skosmos-dev
    depends_on: 
      - fuseki-dev
    networks:
      - fuseki-dev
    volumes:
      - ./skosmos-dev/config.ttl:/var/www/html/config.ttl
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:80 || exit 1"]
      interval: 20s
      timeout: 10s
      retries: 5
      start_period: 2m

  skosmos-live:
    container_name: evoks_${INSTANCE_NAME:-defaultinstance}_skosmos-live
    build:
      context: https://github.com/NatLibFi/Skosmos.git#v2.17
      dockerfile: dockerfiles/Dockerfile.ubuntu
    ports: 
      - "${SKOSMOS_LIVE_PORT:-8002}:80"
    hostname: skosmos-live
    depends_on: 
      - fuseki-live
    networks:
      - fuseki-live
    volumes:
      - ./skosmos-live/config.ttl:/var/www/html/config.ttl
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:80 || exit 1"]
      interval: 20s
      timeout: 10s
      retries: 5
      start_period: 2m

networks:
  postgres:
    driver: bridge
  fuseki-dev:
    driver: bridge
  fuseki-live:
    driver: bridge
volumes:
    postgres:
    fuseki:
