Django>=3.0,<4.0
psycopg2-binary>=2.8
sty
django-tailwind
sparqlwrapper
mypy
django-stubs
django-environ
skosify
rdflib @ git+git://github.com/RDFLib/rdflib.git@26dba21d0562fdc8141cf758c61e14dd9edfa972
rdflib-jsonld
language_data
langcodes
