<div class="relative z-10 flex-shrink-0 h-16 bg-white border-b border-gray-200 flex">
    <button id="open-sidebar"
        class="border-r border-gray-200 px-4 text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-gray-500 md:hidden">
        <span class="sr-only">Open sidebar</span>
        <!-- Heroicon name: outline/menu-alt-2 -->
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
        </svg>
    </button>
    <div class="flex-1 flex justify-between px-4 md:px-0">
        <div class="flex-1 flex">
            <form class="w-full flex md:ml-0" action='{% url 'vocabulary_overview' voc_name=vocabulary.name %}'
                method="GET">
                <label for="search-field" class="sr-only">Search</label>
                <div class="relative w-full text-gray-400 focus-within:text-gray-600">
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center">
                        <!-- Heroicon name: solid/search -->
                        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                            aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                    <input id="search-field" onchange="this.form.submit()"
                        class="block h-full w-full border-transparent py-2 pl-8 pr-3 text-gray-900 placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-0 focus:border-transparent sm:text-sm"
                        placeholder="Search in this vocabulary" {% if search_term != None %} value="{{search_term}}" {% endif %} type="search" name="search">
                    <div>
                        {% if search_results != None %}
                        <select id="location" onchange="window.location = this.value"
                            class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-gray-500 focus:border-gray-500 sm:text-sm rounded-md">
                            <option disabled selected value> -- select a term -- </option>
                            {% for res in search_results %}
                            <option value='{{res.0}}'>{{res.1}}
                            </option>
                            {% endfor %}
                        </select>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
        <div class="ml-4 flex items-center md:ml-6">
            <button
                class="bg-white p-1 rounded-full text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                <span class="sr-only">View notifications</span>
                <!-- Heroicon name: outline/bell -->
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                </svg>
            </button>

            <!-- Profile dropdown -->
            <div class="ml-3 relative">
                <div>
                    <button type="button"
                        class="max-w-xs flex items-center text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
                        id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                        <span class="sr-only">Open user menu</span>
                        <img class="h-8 w-8 rounded-full"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/Plato_Silanion_Musei_Capitolini_MC1377.jpg/440px-Plato_Silanion_Musei_Capitolini_MC1377.jpg"
                            alt="">

                    </button>
                </div>
                <div class="origin-top-right invisible absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 py-1 focus:outline-none"
                    role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1"
                    id="profile-menu">

                    <!-- Active: "bg-gray-100", Not Active: "" -->
                    <a href="{% url 'profile' %}" class="block py-2 px-4 text-sm text-gray-700" role="menuitem"
                        tabindex="-1" id="user-menu-item-0">Your Profile</a>

                    <a href="{% url 'logout' %}" class="block py-2 px-4 text-sm text-gray-700" role="menuitem"
                        tabindex="-1" id="user-menu-item-2">Log out</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("user-menu-button").addEventListener("click", function (e) {
        document.getElementById('profile-menu').classList.toggle("invisible");
    });
    document.getElementById("open-sidebar").addEventListener("click", function (e) {
        document.getElementById('mobile-menu').classList.toggle("invisible");
    });
</script>