{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Reset password</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}

</head>

<body>

    <div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-full space-y-8">
            <div>
                <img class="mx-auto h-12 w-auto" src="http://localhost:8000/static/assets/logo.png" alt="Workflow">
                <p class="mt-2 text-center text-sm text-gray-600">
                    Your password has been set! You can login to your account.
                </p>
                <div class="text-center mt-3">
                    <a href="/login" class="font-medium text-regal-blue hover:text-gray-500">
                        Login
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>