{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Reset password</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}

</head>

<body>

    <div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-full space-y-8">
            <div>
                <img class="mx-auto h-12 w-auto" src="http://localhost:8000/static/assets/logo.png" alt="Workflow">
                <p class="mt-2 text-center text-sm text-gray-600">
                    We've emailed you instructions for setting your password, if an account exists with the email you
                    entered.
                    You should receive them shortly.
                </p>
                <p class="mt-2 text-center text-sm text-gray-600">
                    If you don't receive an email, please make sure you've entered the address you registered with,
                    and check your spam folder.
                </p>
            </div>
        </div>
    </div>

</body>

</html>