{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Help</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}

</head>

<body>


    <div class="h-screen bg-white overflow-visible flex">


        <div class="flex-1 max-w-7xl mx-auto w-0 flex flex-col md:px-8 xl:px-0">
            


            <main class="flex-1 relative overflow-y-auto focus:outline-none">
                <div class="py-6">
                    <div class="px-4 sm:px-6 md:px-0">
                        <h1 class="text-2xl font-semibold text-gray-900">Terms and Services</h1>
                    </div>

                    insert: terms and services
                </div>
        </div>
        </main>

    </div>

</body>
<script src="{% static 'js/main.js' %}"></script>

</html>