{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vocabulary settings</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}

</head>

<body>
    <!-- Create Team Modal -->
    {% include "modals/create_team.html" %}
    <!-- Create Vocabulary Modal -->
    {% include "modals/create_vocabulary.html" %}
    <!-- Create Vocabulary Modal -->
    {% include "modals/delete_vocabulary.html"}


    <div class="h-screen bg-white overflow-visible flex">

        <!-- Static sidebar for mobile -->
        {% include "sidebars/mobile.html" %}
        <!-- Static sidebar for desktop -->
        {% include "sidebars/desktop.html" %}

        <div class="flex-1 max-w-7xl mx-auto w-0 flex flex-col md:px-8 xl:px-0">
            {% include "header/searchbar.html" %}

            <main class="flex-1 relative focus:outline-none">
                <div class="py-6">
                    <div class="px-4 sm:px-6 md:px-0">
                        <h1 class="text-xl font-semibold text-gray-900">{{vocabulary.name}}
                        </h1>
                    </div>
                    <div class="px-4 sm:px-6 md:px-0">
                        <!-- Replace with your content -->
                        <div class="py-4">
                            <!-- This example requires Tailwind CSS v2.0+ -->
                            <a href='{% url 'vocabulary_overview' name=vocabulary.name %}'
                                class="inline-flex items-center px-2.5 py-1.5 border border-gray-300 shadow-sm text-xs font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                                Overview
                            </a>
                            <a href='{% url 'vocabulary_terms' name=vocabulary.name %}'
                                class="inline-flex items-center px-2.5 py-1.5 border border-gray-300 shadow-sm text-xs font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                                Terms
                            </a> 
                            <a href='{% url 'vocabulary_members' name=vocabulary.name %}'
                                class="inline-flex items-center px-2.5 py-1.5 border border-gray-300 shadow-sm text-xs font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                                Members
                            </a>
                            <a href='{% url 'vocabulary_prefixes' name=vocabulary.name %}'
                            class="inline-flex items-center px-2.5 py-1.5 border border-gray-300 shadow-sm text-xs font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                            Prefixes
                            </a>
                            <a href='{% url 'vocabulary_settings' name=vocabulary.name %}'
                                class="inline-flex items-center px-2.5 py-1.5 border border-gray-300 shadow-sm text-xs text-regal-blue font-medium rounded text-gray-700 bg-test focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                                Settings
                            </a>
                            <main>

                                <div class="py-6">

                                    <div class="px-4 sm:px-6 md:px-0">
                                        <!-- Replace with your content -->
                                        <div class="py-4">

                                            <fieldset>
                                                <legend class="sr-only">
                                                    Vocabulary setting
                                                </legend>
                                                <div class="bg-white rounded-md -space-y-px">
                                                    <!-- Checked: "bg-indigo-50 border-indigo-200 z-10", Not Checked: "border-gray-200" -->
                                                    <form action="#" method="post"> {% csrf_token %}
                                                        <label
                                                            class="border-gray-200 rounded-tl-md rounded-tr-md relative border p-4 flex cursor-pointer">
                                                            <input type="radio" name="vocabulary-setting" value="Live" id='1' onclick="this.form.submit();"
                                                            {% ifequal vocabulary.state "Live" %} checked {% endifequal %}
                                                                class="h-4 w-4 mt-0.5 cursor-pointer text-regal-blue border-gray-300 focus:ring-regal-blue"
                                                                aria-labelledby="privacy-setting-0-label"
                                                                aria-describedby="privacy-setting-0-description">
                                                            <div class="ml-3 flex flex-col">
                                                                <!-- Checked: "text-indigo-900", Not Checked: "text-gray-900" -->
                                                                <span id="vocabulary-setting-0-label"
                                                                    class="text-gray-900 block text-sm font-medium">
                                                                    Live
                                                                </span>
                                                                <!-- Checked: "text-indigo-700", Not Checked: "text-gray-500" -->
                                                                <span id="vocabulary-setting-0-description"
                                                                    class="text-gray-500 block text-sm">
                                                                    This vocabulary will be migrated to the live Skosmos
                                                                    instance and won't be editable anymore.
                                                                </span>
                                                            </div>
                                                        </label>

                                                        <!-- Checked: "bg-indigo-50 border-indigo-200 z-10", Not Checked: "border-gray-200" -->
                                                        <label
                                                            class="border-gray-200 relative border p-4 flex cursor-pointer">
                                                            <input type="radio" name="vocabulary-setting" id='2' onclick="this.form.submit();"
                                                                value="Review" {% ifequal vocabulary.state "Review" %} checked {% endifequal %}
                                                                class="h-4 w-4 mt-0.5 cursor-pointer text-regal-blue border-gray-300 focus:ring-regal-blue"
                                                                aria-labelledby="privacy-setting-1-label"
                                                                aria-describedby="privacy-setting-1-description">
                                                            <div class="ml-3 flex flex-col">
                                                                <!-- Checked: "text-indigo-900", Not Checked: "text-gray-900" -->
                                                                <span id="vocabulary-setting-1-label"
                                                                    class="text-gray-900 block text-sm font-medium">
                                                                    Review
                                                                </span>
                                                                <!-- Checked: "text-indigo-700", Not Checked: "text-gray-500" -->
                                                                <span id="vocabulary-setting-1-description"
                                                                    class="text-gray-500 block text-sm">
                                                                    All users will have read-only access to this vocabulary.
                                                                </span>
                                                            </div>
                                                        </label>
                                                        <!-- Checked: "bg-indigo-50 border-indigo-200 z-10", Not Checked: "border-gray-200" -->
                                                        <label
                                                            class="border-gray-200 rounded-bl-md rounded-br-md relative border p-4 flex cursor-pointer">
                                                            <input type="radio" name="vocabulary-setting" id='3' {% ifequal vocabulary.state "Development" %} checked {% endifequal %}
                                                                value="Development" onclick="this.form.submit();"
                                                                class="h-4 w-4 mt-0.5 cursor-pointer text-regal-blue border-gray-300 focus:ring-regal-blue"
                                                                aria-labelledby="privacy-setting-2-label"
                                                                aria-describedby="privacy-setting-2-description">
                                                            <div class="ml-3 flex flex-col">
                                                                <!-- Checked: "text-indigo-900", Not Checked: "text-gray-900" -->
                                                                <span id="vocabulary-setting-2-label"
                                                                    class="text-gray-900 block text-sm font-medium">
                                                                    Development
                                                                </span>
                                                                <!-- Checked: "text-indigo-700", Not Checked: "text-gray-500" -->
                                                                <span id="vocabulary-setting-2-description"
                                                                    class="text-gray-500 block text-sm">
                                                                    Only members of this vocabulary have reading and writing
                                                                    rights.
                                                                </span>
                                                            </div>
                                                        </label>
                                                    </form>
                                                </div>
                                            </fieldset>


                                        </div>
                                        <!-- /End replace -->
                                    </div>
                                </div>



                                <div class="grid grid-cols-6 gap-6 mt-5">

                                    <div class="col-span-6 sm:col-span-3">

                                    </div>
                                    <div class="col-span-6 sm:col-span-3">

                                        <!-- This example requires Tailwind CSS v2.0+ -->
                                        <div class="bg-white shadow sm:rounded-lg">
                                            <div class="px-4 py-5 sm:p-6">
                                                <h3 class="text-lg leading-6 font-medium text-gray-900">
                                                    Delete Vocabulary </h3>
                                                <div class="mt-2 max-w-xl text-sm text-gray-500">
                                                    <p>
                                                        Once you delete this vocabulary it is gone. Previous live
                                                        versions will still be visible in Skosmos, but not in Evoks.
                                                    </p>
                                                </div>
                                                <div class="mt-5">
                                                    <!-- <form action="#" method="post"> -->
                                                    {% csrf_token %}
                                                    <button type="submit" id="delete-vocabulary-button" name='delete'
                                                        class="inline-flex items-center justify-center px-4 py-2 border border-transparent font-medium rounded-md text-red-700 bg-red-100 hover:bg-red-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:text-sm">
                                                        Delete
                                                    </button>
                                                    <!-- </form> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>




                            </main>

                        </div>
                        <!-- /End replace -->
                    </div>
                </div>
            </main>
        </div>
    </div>

</body>
<script src="{% static 'js/settings.js' %}"></script>

</html>