{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vocabulary Terms</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}

</head>

<body>
    <!-- Create Team Modal -->
    {% include "modals/create_term.html" %}
    <!-- Create Vocabulary Modal -->
    {% include "modals/create_vocabulary.html" %}
    <!-- Create Vocabulary Modal -->
    {% include "modals/delete_vocabulary.html" %}


    <div class="h-screen bg-white overflow-visible flex">

        <!-- Static sidebar for mobile -->
        {% include "sidebars/mobile.html" %}
        <!-- Static sidebar for desktop -->
        {% include "sidebars/desktop.html" %}

        <div class="flex-1 max-w-4xl mx-auto w-0 flex flex-col md:px-8 xl:px-0">
            {% include "header/searchbar.html" %}

            <main class="flex-1 relative focus:outline-none">
                <div class="py-6">
                    <div class="px-4 sm:px-6 md:px-0">
                        <h1 class="text-xl font-semibold text-gray-900">{{vocabulary.name}}
                        </h1>
                    </div>
                    <div class="px-4 sm:px-6 md:px-0">
                        <!-- Replace with your content -->
                        <div class="py-4">
                            <!-- This example requires Tailwind CSS v2.0+ -->
                            <a href='{% url 'vocabulary_overview' name=vocabulary.name %}'
                                class="inline-flex items-center px-2.5 py-1.5 border border-gray-300 shadow-sm text-xs font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                                Overview
                            </a>
                            <a href='{% url 'vocabulary_terms' name=vocabulary.name %}'
                                class="inline-flex items-center px-2.5 py-1.5 border border-gray-300 shadow-sm text-xs text-regal-blue font-medium rounded text-gray-700 bg-test focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                                Terms
                            </a>
                            <a href='{% url 'vocabulary_members' name=vocabulary.name %}'
                                class="inline-flex items-center px-2.5 py-1.5 border border-gray-300 shadow-sm text-xs font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                                Members
                            </a>
                            <a href='{% url 'vocabulary_settings' name=vocabulary.name %}'
                                class="inline-flex items-center px-2.5 py-1.5 border border-gray-300 shadow-sm text-xs font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                                Settings
                            </a>
                            <main>
                                <div class="mt-5">
                                    <button type="button" id="create-term-button"
                                        class="inline-flex mb-5 items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-regal-blue focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                                        Create Term
                                    </button>
                                    <label for="letter" class="block text-sm font-medium text-gray-700">Initial
                                        
                                         Letter</label>

                                    <form action="#" method="post"> {% csrf_token %}
                                        <select id="letter" name="letter" onchange="window.location.href = window.location.href.split('?')[0]+'?letter='+this.value"
                                            class="mt-1 block pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-gray-500 focus:border-gray-500 sm:text-sm rounded-md">
                                            {{% for a in initial_letter.initial_letter.field.choices%}
                                            <option value="{{a.0}}" {% if a.0 == initial_letter.initial_letter.value.0 %} selected{% endif %}>{{a.1}}</option>
                                            {% endfor %}}
                                        </select>
                                    </form>
                                </div>

                                <!-- This example requires Tailwind CSS v2.0+ -->
                                <div class="flex flex-col">
                                    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                                        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                                            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                                <table class="min-w-full divide-y divide-gray-200">
                                                    <thead class="bg-gray-50">
                                                        <tr>
                                                            <th scope="col"
                                                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                                Name
                                                            </th>
                                                            <th scope="col"
                                                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                                Action
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="bg-white divide-y divide-gray-200">
                                                        {% for term in terms.data %}
                                                        <tr>
                                                            <td class="px-6 py-4 whitespace-nowrap">
                                                                <div class="flex items-center">
                                                                    <div class="text-sm text-gray-900">
                                                                        {{term.name}}
                                                                    </div>
                                                                </div>
                                                            </td>

                                                            <td
                                                                class="px-6 py-4 whitespace-nowrap text-sm text-regal-blue">
                                                                <a
                                                                    href="'{% url 'term_detail' name=vocabulary.name %}'">Edit
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                        <!-- More people... -->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- This example requires Tailwind CSS v2.0+ -->
                                <nav class="bg-white px-4 py-3 flex items-center justify-between sm:px-6 mt-5"
                                    aria-label="Pagination">
                                    <div class="hidden sm:block">
                                        <p class="text-sm text-gray-700">
                                            Showing
                                            <span class="font-medium">{{terms.start_index}}</span>
                                            to
                                            <span class="font-medium">{{terms.end_index}}</span>
                                        </p>
                                    </div>
                                    <div class="flex-1 flex justify-between sm:justify-end">
                                            <a href="?letter={{initial_letter.initial_letter.value.0}}&page={{ terms.previous_page_number }}"
                                                class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
                                                Previous
                                            </a>
                                            <a href="?letter={{initial_letter.initial_letter.value.0}}&page={{ terms.next_page_number }}"
                                                class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
                                                Next
                                            </a>
                                    </div>
                                </nav>

                            </main>

                        </div>
                        <!-- /End replace -->
                    </div>
                </div>
            </main>
        </div>
    </div>

</body>
<script src="{% static 'js/term.js' %}"></script>

</html>